darkdetect
google-generativeai
openai
pyperclip
pynput
PySide6
markdown2
pyinstaller
ollama
psutil
requests

# Windows clipboard support (only on Windows)
# pywin32; sys_platform == "win32"

# Qt complement
PySide6-stubs

